runmode: debug               # 开发模式, debug, release, test
port: :9090                  # HTTP绑定端口
#env: production
log:
  writers: file,stdout
  logger_level: DEBUG
  logger_file: runtime/log/server.log
  log_format_text: false
db:
  type: mysql
  dbname: goapi
  addr: 127.0.0.1:3306
  username: root
  password: root
redis:
  addr: 127.0.0.1:6379
  password: 
  db: 1
  MaxIdle: 3  #最大的空闲连接数
  MaxActive: 10 #最大的激活连接数
  IdleTimeout: 180
nsq:
  addr: 127.0.0.1:4150
  topic: test
  channel: test-channel